* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: 'Inter', sans-serif;
}


body {
	background-color: #FEF9FB;
	margin: 0;
	font-family: 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: unset;
}

#sidebar {
	  padding: 5px;
	  background-color: #252627;
    height: 100vh;
    width: 250px;
    position: fixed;
    z-index: 1;  

}

#sidebar ul {
  	/* margin-top: 100%;
    padding: 0px; */
    position: relative;
    top: 25%;
    
    
}

#sidebar ul li {
    margin-bottom: 50px;
	  list-style: none;
	  text-align: center;
    font-size: x-large;
    color: #FEF9FB;
}

#infoBar {
    margin-left: 350px;
    width: 35%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.sidebar {
  left: -100%;
  transition: all 0.5s;
}

.sidebar.active {
  left: 0;
}

.title {
    color: #252627;
    font-size:xx-large;
    font-weight: bold;
    margin-bottom: 10px;
}

.description {
    color: #252627;
    font-size: x-large;

}

#signInTab {
    width: 300px;
    margin-left: 70%;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);

}

.signInTabHeader {
    font-size: xx-large;
    padding: 2px;
    font-weight: bold;
}


#signInTab ul {
    padding: 0px;
}

#signInTab ul li {
    margin: 5px;
	  list-style: none;
	  text-align: left;
    font-size: medium;
    color: #252627;
}

.signInInput {
    margin-bottom: 20px;
    width: 90%;
    border: none;
    border-bottom: 1px solid #252627;
    background-color: #FEF9FB;
}

.signInButton {
    width: 92%;
    background-color: #252627;
    color: #FEF9FB;
    border-width: 10px;
    border-color: #252627;
    /*border-style: solid;*/ /*this removes the shaddow from the button*/
}

/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
