/* table{
	border-collapse: collapse;
	border: 0px;
    border-bottom: 1px solid #928787;
} */

th {
	border-collapse: collapse;
	border: 0px;
    border-bottom: 1px solid #928787;
    font-size: 32px;
    text-align: left;
    padding: 10px;
    padding-right: 30px;
    padding-top: 40px;
}

td {
	border-collapse: collapse;
	border: 0px;
    border-bottom: 1px solid #928787;
    font-size: 32px;
    text-align: left;
    padding: 10px;
    padding-right: 30px;
}

tr td {
    font-size: 32px;
}

button {
    font-size: 16px;
    width: 100%;
    height: 50px;
    background: none;
    border: none;
    background-color: #252627;
    color: #EBEBEB;
    vertical-align: middle;
    cursor: pointer;
}

.RankingContainer {
    float: left;
    position: relative;
    margin: 5% 0 0 10%;
    margin-left: 320px;
}

.RankingContainer ul li {
    margin: 30px;
    display: inline-block;
}

.sortBar {
    position: absolute;
    left: 110%;
    top: 15%;
    width: 400px;
    height: 80%;
    background: #EBEBEB;
}

.sortBar ul {
    margin-top: 25px;
    vertical-align: middle;    
}

.sortBar ul li {
    margin: 30px;
    display: block;
}

ul li h3 { 
    font-size: 32px;
}