.header {
    margin-left: 320px;
    padding-top: 5%;
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
}

.disc {
    margin-top: 40px;
    margin-left: 320px;
    top: 120px;
    padding-right: 150px;
    font-size: 24px;
}

.creatorsBox {
    display: block;
    margin-top: 40px;
    background: #EBEBEB;
    width: 80%;
    margin-left: 320px;
    left: 320px;
    top: 210px;
}

.inner {
    padding: 30px;
    width: 100%;
}
.creatorsBox ul {
    position: relative;
    left: 70px;
}

.creatorsBox ul li{
    font-family: Inter;
    font-style: normal;
    font-weight: 600;
    font-size: 27px;
    line-height: 39px;    

    padding-bottom: 20px;
    padding-left: 20px;

}

.creatorsBoxHeader {
    font-size: 30px;
    font-weight: 600;
    padding: 20px;
    padding-bottom: 0px;
}

.samplePicture {
    height:70px;
    width: 70px;
    background-color: black;
    border-radius: 50%;
}

td {
	border-collapse: collapse;
	border: 0px;
    font-size: 20px;
    text-align: left;
    padding: 20px;
}

.bio {
    font-size: 15px;
    padding: 20px;
    padding-top: 0px;
}